<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stvn.nscreen" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.jjiya.android.ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".epg.EpgMainActivity"
            android:label="@string/title_activity_epg_main" >
        </activity>
        <activity
            android:name=".epg.EpgSubActivity"
            android:label="@string/title_activity_detail_channel" >
        </activity>
        <activity android:name=".pvr.PvrMainActivity" >
        </activity>
        <activity android:name=".pvr.PvrSubActivity" >
        </activity>
        <activity
            android:name=".epg.EpgChoiceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="unspecified"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity android:name=".my.MyMainActivity" >
        </activity>
        <activity android:name=".my.MySubActivity" >
        </activity>
        <activity android:name=".pairing.PairingMainActivity" >
        </activity>
        <activity android:name=".pairing.PairingSubActivity" >
        </activity>
        <activity android:name=".search.SearchMainActivity" >
        </activity>
        <!-- 설정 화면 관련 엑티비티 -->
        <activity android:name=".setting.CMSettingMainActivity" />
        <activity android:name=".setting.CMSettingRegionActivity" />
        <activity android:name=".setting.CMSettingPurchaseAuthActivity" />
        <activity android:name=".setting.CMSettingPayChannelActivity" />
        <activity android:name=".setting.CMSettingPayChannelDetailActivity" />
        <activity android:name=".vod.VodMainActivity" />
        <activity
            android:name=".vod.VodCategoryMainActivity"
            android:label="@string/title_activity_vod_category_main"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".vod.VodDetailActivity"
            android:label="@string/title_activity_vod_detail"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity android:name=".vod.VodBuyActivity">

        </activity>
        <activity android:name=".rmt.RemoteControllerActivity">

        </activity>
    </application>

</manifest>
